.login
  - form_tag session_path do 
    .form{:style=>"margin-left:40px;"}
      %label{:for => "login"}               
        =_('User Name')
      = text_field_tag 'login',"", :style=>"width:200px;"
      %br
      %label{:for => 'password'}
        =_('Password')
      = password_field_tag 'password',"", :style=>"width:200px;"
      = link_to _('Forgot your password?'), "/users/password_recovery", :style=>"font-size:11px;color:#5D676C;"
      %br
      %label{ :for => "remember_me", :style=>" font-size:12px;"}
        = check_box_tag 'remember_me'    
        =_('Remember Me')
      %br  
      .form_button{:style=>"margin:0;"}
        = submit_tag _('Log in'), :style=>"float:right;"

      %div{ :style=>"clear: both"}  
      -if !flash[:error].nil?     
        .errors{:style=>"text-align:left;"}
          %h3{:style =>"color:red"}
            =flash[:error]      

      %div{ :style=>"clear: both"}   

        
  %div{:style=>"float:left; width:40%; text-align:left;margin-left:18%;"}
    %img{:src => "/images/cacique/logo_cacique.png", :alt=>"cacique", :style => " height:130px;margin:0 10%;"}
    %br
    %br
    =_('Do not have an account?')
    %div{:style=>"width:130px;margin:5% 15%;"}
      >>
      = link_to _('Register!'), "/users/new"
      <<
%div{:style=>"float:center; text-align:center;"}
  %img{:src => "/images/cacique/pbML.png", :alt=>"Powered By"}    
      