//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
.login
  - form_tag session_path do 
    .form{:style=>"margin-left:40px;"}
      %label{:for => "login"}               
        =_('User Name')
      = text_field_tag 'login',"", :style=>"width:200px;"
      %br
      %label{:for => 'password'}
        =_('Password')
      = password_field_tag 'password',"", :style=>"width:200px;"
      = link_to _('Forgot your password?'), "/users/password_recovery", :style=>"font-size:11px;color:#5D676C;"
      %br
      %label{ :for => "remember_me", :style=>" font-size:12px;"}
        = check_box_tag 'remember_me'    
        =_('Remember Me')
      %br  
      .form_button{:style=>"margin:0;"}
        = submit_tag _('Log in'), :style=>"float:right;"

      %div{ :style=>"clear: both"}  
      -if !flash[:error].nil?     
        .errors{:style=>"text-align:left;"}
          %h3{:style =>"color:red"}
            =flash[:error]      

      %div{ :style=>"clear: both"}   

        
  %div{:style=>"float:left; width:40%; text-align:left;margin-left:18%;"}
    %img{:src => "/images/cacique/logo_cacique.png", :alt=>"cacique", :style => " height:130px;margin:0 10%;"}
    %br
    %br
    =_('Do not have an account?')
    %div{:style=>"width:130px;margin:5% 15%;"}
      >>
      = link_to _('Register!'), "/users/new"
      <<
      