//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
-javascript 'tabla_editable'
-javascript 'suite_edit'
-javascript 'dtree'
-javascript 'suite_show'
-javascript 'tablesort'
-javascript 'select_all'

%script
  //Variable que se utiliza para que el arbol de categorias tenga un evento ajax
  var tree_with_ajax=true;
  //Selected filed in table of cases
  var marcado  = "";
  var anterior = "";
  var color_anterior = "";
  
%script
  = @cell_selects.to_javascript_function("cell_selects")  #Selects values for edit data cells

.main{:style=>"margin-left:10px;"}
  %h1{:title=>@suite.name}
    =truncate(@suite.name.capitalize,:ommision => "...", :length =>80)
    .form_button
      %input{ :onClick => "location.href='/suites/index.haml'", :type => "Button", :value => _("Finish")}
  .form
    %div{:style=>"width:30%;float:left;"}
      .form_tag{ :id => "suite_information", :style=>"padding-left:20px;float:left;width:90%;"}
        =render :partial => "suite_information", :locals => {:suite => @suite} 
      .form_tag{ :id => "suite_circuits_order",:style=>"float:left;clear: both;width:92%; margin-top:20px;"}
        =render :partial => "circuits_order", :locals => {:circuits => @circuits}        
  .form_tag{ :style=>"float:left;padding:0px 10px 20px 20px; width:350px; overflow:hidden;margin-left:20px;"}
    %h2{:style=>"margin-bottom:10px;"}
      =_("Choose Scripts for your suite:")
    %img{ :src=>"/images/dtree/expandall.png", :alt=>"expandall.png", :title=>_("Expand All"),:onclick => "d.openAll();", :style=>"cursor:pointer;margin-left:15px;"}
    %img{ :src=>"/images/dtree/colapseall.png",:alt=>"colapseall.png", :title=>_("Collapse All"), :onclick => "d.closeAll();", :style=>"cursor:pointer;"}
    .content_tree{:style=>"height:90%;"}
      %script
        d = new dTree('d');
        = "d.add(0,-1,#{@project.name.to_javascript_expr});"
        =category_tree(@categories, 'suite')
        document.write(d);

  .form_tag{ :id => "suite_circuits", :style=>"float:left; margin-left:20px; width:350px; height: 350px; padding-right:0px;"}
    =render :partial => "circuits", :locals => {:circuits => @circuits, :case_templates => @suite.case_templates, :suite_id => @suite.id}

  //CASES
  %form{:id=>"casos"}
    .tag{:id => 'div_circuit_cases', :name=>"div_circuit", :style => "display:none; width:850px;height:400px;left:200px;"}

  #append_cases{:style => 'display:none;'}


//Suite show
.div{:id => "div_suite_show", :style=>"display:none;"}

//Tools menu
-content_for :tools_menu do
  %img{:src => "/images/icons/play.png",     :alt=>"play",      :title=>_('Run'),      :onClick => "location.href='/suite_executions/new?suite_id=#{@suite.id}';"}
  =render :partial => "queue_observers/queue_icon"
  %img{:src => "/images/icons/relations.png",:alt=>"relations", :title=>_('Relation'),    :onClick => "location.href='/suites/relations1/#{@suite.id}';"}
  %img{:src => "/images/icons/show.png", :alt=>"suite_show",:title=>_('Detail'), :onClick => remote_function(:complete => "document.getElementById('div_suite_show').toggle();showDiv('show_graph');",:update => "div_suite_show",  :method => "get",  :url =>  "/suites/show/#{ @suite.id.to_s}"  ) }
  %img{:src => "/images/icons/info.png",    :alt=>"info.png",    :title=>_('Information'),    :onClick => "document.getElementById('infoSuiteEdit').toggle();"}

//Help 
=render :partial => "info_suite_edit"
  