//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
-javascript 'tablesort'
-javascript 'suite_show'

%script
  //marked file
  var marcado  = ""; 
  var anterior = "";
  var color_anterior = "";
  var anysuite = "#{_('any suite')}";
  var msgalert = "#{_('This action will remove Data Set, History and Suite associations. Are You sure?')}";
.main
  -if @suites.empty? && params[:search].nil?
    %h1{:title=>"Suites of " + @project.name.capitalize}
      =_('Suites from Project: ')
      =truncate(@project.name.capitalize,:ommision => "...", :length =>70)  
      %i{:style=>"font-size:12px;color:gray;margin-left:100px;"}
        =_("Project Without Suites")        
    %h3{:style=>"color:#FF8000;"}
      =_('A')
      %b
        Suite    
      =_('is a set of scripts that run one after the other.')  

    =render :partial => "suite_tutorial"

  -elsif @suites.empty? && !params[:search].nil?
    %h1{:title=>"Suites of " + @project.name.capitalize}
      =_('Suites from Project: ')
      =truncate(@project.name.capitalize,:ommision => "...", :length =>70)    
    %br
    %h2{:style=>"text-align:center;margin-top:30px;"}
      %i
        =_("No results were found for")
        =params[:search]
  -else
    %h1{:title=>"Suites of " + @project.name.capitalize}
      =_('Suites from Project: ')
      =truncate(@project.name.capitalize,:ommision => "...", :length =>70) 
         
    = will_paginate @suites_pag, :per_page => 15 , :params => { 'search' => params[:search]}
    %table.detail{:id=>"table_suites", :name=>"table_zebra",:cellspacing=>"0"}
      %tr
        %th{:style=>" width:40%;", :class => "sortable"}
          Suites
        %th{:style=>" width:50%;", :class => "sortable"}
          =_("Description")
        %th
        -if @suites_pag.empty?
          %tr
            %td{:colspan=>"2", :style=>"text-align:center;"}
              %i
                =_("No results were found for") 
                =@param_search
                
        -else
          - for suite in @suites_pag  do
            %tr{:onClick=>"marcar(this,'#BBD5DF');", :id=>suite.id.to_s, :style=>"cursor:pointer;"}
              %td{:title=>suite.name.capitalize, :style=>"width:120px;font-weight:bold; padding-left:20px;"}
                =truncate(suite.name.capitalize,:ommision => "...", :length =>70)
              %td{:title=> suite.description}
                =truncate(suite.description.capitalize,:ommision => "...", :length =>70)
              %td
                %img{:src => "/images/icons/show.png", :alt=>"suite_show.png",:title=>_('Detail'), :onClick => remote_function(:complete => "document.getElementById('div_suite_show').show();showDiv('show_graph');",:update => "div_suite_show",  :method => "get",  :url =>  "/suites/show/#{ suite.id.to_s}"  ) }


//Suite show
.div{:id => "div_suite_show", :style=>"display:none;"}


//Tools menu
-content_for :tools_menu do
  %img{:src => "/images/icons/new.png" ,      :alt=>"new",       :title=>_('New'),          :onClick => "location='/suites/new'", :style=>"margin-left:150px;"}
  %img{:src => "/images/icons/edit.png",      :alt=>"edit",      :title=>_('Edit'),         :onClick => "if(is_marked(marcado, anysuite))location.href='/suites/'+ marcado +'/edit';"}
  %img{:src => "/images/icons/relations.png", :alt=>"relations", :title=>_('Relations'),     :onClick => "if(is_marked(marcado, anysuite))location.href='/suites/relations1/' + marcado;"}
  %img{:src => "/images/icons/trash.png" ,    :alt=>"trash",     :title=>_('Delete'),       :onClick => "if(is_marked(marcado, anysuite) && confirm(msgalert))location='/suites/delete/'+ marcado;"}
  %img{:src => "/images/icons/calendar.png",  :alt=>"calendar",  :title=>_('Schedule'), :onClick => "if(marcado)location='/suites/calendar/'+marcado;else location='/suites/calendar/';"}
  %img{:src => "/images/icons/import.png" ,   :alt=>"import",    :title=>_('Import suites from other projects'), :onClick => "location='/suites/import_suite';"}
  %img{:src => "/images/icons/info.png",      :alt=>"info",      :title=>_('Information'),:onClick => "document.getElementById('infoSuite').toggle();", :style=>"padding-right:20px;border-right: 1px solid #C6C5C4;"}
  %img{:src => "/images/icons/play.png",      :alt=>"run",      :title=>_('Run'),       :onClick => "if(is_marked(marcado, anysuite))location.href='/suite_executions/new?suite_id='+ marcado;"}
  =render :partial => "queue_observers/queue_icon"
  .buscar
    - form_for :search, url_for(:controller=>"suite", :action=>"index", :project_id=>@project.id) do |f|
      = f.text_field '', :value=>@param_search, :style => 'width: 130px' , :onblur=>"if (this.value == '') {this.value = 'Search suite'; ;this.style.color='grey'}", :onfocus=>"if (this.value == 'Search suite') {this.value = '';this.style.color='black'}"
      %input{:type=>"image",:src=>"/images/icons/search.png"}
//Help 
=render :partial => "info_suite"
