//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

%h2{:style=>"margin-top:10px;"}
  =_('Upcoming deadlines')
%div{:style=>"overflow:auto; max-height:150px;"}
  -if task_program_info.empty?
    %h3{:style=>"font-weight: normal;"}
      %i
        =_('This suite is not scheduled to confirm')
  -else
    %table.detail{:style=>"margin:5px auto;width:95%;"}
      //Next Expirations
      -task_program_info.each do |id, date|
        %tr{:onclick=>"location=' /task_programs/confirm_program/#{id}'", :style=>"cursor:pointer;"}
          -next_expiration = date
          %th
            =_('Confirm')       
          %td
            %b
              ="#{next_expiration.run_at.strftime('%A')},#{next_expiration.run_at.day}/#{next_expiration.run_at.mon}/#{next_expiration.run_at.year}   #{next_expiration.run_at.hour}:#{next_expiration.run_at.min}"
      %div{:style=>"clear:both;"}
      
      

