h2{:style=>"margin-top:10px;"}
  =_('Upcoming deadlines')
%div{:style=>"overflow:auto; max-height:150px;"}
  -if task_program_info.empty?
    %h3{:style=>"font-weight: normal;"}
      %i
        =_('This suite is not scheduled to confirm')
  -else
    %table.detail{:style=>"margin:5px auto;width:95%;"}
      //Next Expirations
      -task_program_info.each do |id, date|
        %tr{:onclick=>"location=' /task_programs/confirm_program/#{id}'", :style=>"cursor:pointer;"}
          -next_expiration = date
          %th
            =_('Confirm')       
          %td
            %b
              ="#{next_expiration.run_at.strftime('%A')},#{next_expiration.run_at.day}/#{next_expiration.run_at.mon}/#{next_expiration.run_at.year}   #{next_expiration.run_at.hour}:#{next_expiration.run_at.min}"
      %div{:style=>"clear:both;"}
      
      

