//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
    
//Tools menu
-content_for :tools_menu do

  //Save
  -if @readonly
    %img{:src => "/images/icons/d_save.png",    	:alt=>"save",    :title=>_("Without Edit Permissions "), :onclick=>"alert('#{_("You do not have Edit Permissions")}')",:style=>" height: 23px; width: 23px;margin-left:35px;" }
    %img{:src => "/images/icons/d_comment.png", 	:alt=>"comment", :title=>_('Save with Comments'),        :onClick =>"alert('#{_("You do not have Edit Permissions")}')"}
  -else
    %img{:id =>"save_button", :src => "/images/icons/save.png",  		:alt=>"save",    :title =>_("Save"), :style=>"margin-left:35px; visibility:hidden;",:onClick => remote_function(:complete => "document.getElementById('save_message').toggle();", :update => "save_message", :url => {:controller => "circuits", :action => "updateFile", :id => @circuit.id }, :with => "'content=' + encodeURI(encode_text(codepress_content_free.getCode())) + '&originalcontent=' + encodeURI(document.getElementById('originalcontent').value)" )} 
    %img{:id =>"savewc_button", :src => "/images/icons/comment.png", 		:alt=>"comment", :title=>_('Save with Comments'), :style=>"visibility:hidden;",		 :onClick => "document.getElementById('comment_save').toggle();"}
    
  //Sintax check  
  =link_to_remote image_tag("/images/icons/bug.png", :alt=>"sintax check", :title=>_('Sintax Check')), :url => {:controller => "circuits", :action => "checkit"},:with=>"'code='+encodeURIComponent(encode_text(codepress_content_free.getCode()))", :update => "checker", :complete => "document.getElementById('checker').show();", :method => :post
  
  //Data recovery
  %img{:src => "/images/icons/recovery.png",  		:alt=>"recovery",:title =>_("Data Recovery"),     		 :onClick => remote_function(:complete => "document.getElementById('div_data_recoveries').show();",:update => "div_data_recoveries",  :method => "get",  :url => { :controller => :circuits , :action => :getDataRecovery, :id => @circuit.id })}

  //Versions
  -if @previous_version
    %img{:src => "/images/icons/backward.png",		:alt=>"backward",:title=>_('Previous Version ')+"(#{@previous_version})", 	:onClick => "location.href='/circuits/#{@circuit.id}/edit?version=#{@previous_version}'", :id => "version_back"}
  -else
    %img{:style => "display:none;", :src => "/images/icons/backward.png",		:alt=>"backward",:title=>_('Previous Version ')+"(#{@previous_version})", 	:onClick => "location.href='/circuits/#{@circuit.id}/edit?version=#{@previous_version}'", :id => "version_back"}
  -if @next_version
    %img{:src => "/images/icons/forward.png", :alt=>"forward", :title=>_('Next Version ')+"(#{@next_version})",    :onClick => "location.href='/circuits/#{@circuit.id}/edit?version=#{@next_version}'", :id => "version_forward"}
    
  //History  
  %img{:src => "/images/icons/clock.png",     :alt=>"clock",   :title=>_('Change History'),                               :onClick => "location.href='/circuits/versions/#{@circuit.id}'"}
 
  //Import
  %img{:src => "/images/icons/import.png",    :alt=>"export",  :title=>_('Export Script'),                         :onclick=>"document.getElementById('import_circuit').show();"}
  
  //Functions
  -if !@readonly
    =link_to_function image_tag("/images/icons/functions.png",     	 :title=>_('Functions'), :alt=>"functions"), 				:onclick => remote_function(:complete => "document.getElementById('div_with_functions').show();", :update => "div_with_functions", :url => "/user_functions/find_per_project")
    
  //Script in suite
  =image_tag("icons/suiteq.png", :alt=>"suite_min.png", :title=>_('Suites containing this script'),  :onClick => remote_function(:complete => "document.getElementById('suites_of_script').show();",:update => "suites_of_script",  :method => "get",  :url => { :controller => :circuits , :action => :get_suites_of_script, :id => @circuit.id }) )
   
  //Ruby
  =link_to image_tag("/images/icons/ruby.png",:alt=>"ruby"), '/circuits/ruby' , :title=>_('Ruby Help') , :popup => true
  %img{:src => "/images/icons/info.png",      :alt=>"info",    :title=>_('Information'),   :onClick => "document.getElementById('infoCircuit').show();", :style=>"padding-right:20px;border-right: 1px solid #C6C5C4;"}

  //Panel Execution
    
  //Execution Config
  %img{:src => "/images/icons/config.png",  :alt=>"config.png", :title=>_('Execution Panel'),:onClick => remote_function(:complete => "document.getElementById('execution_panel').show();", :update => "execution_panel", :url => "/context_configurations/user_context_configuration_values")}

  %div{ :style=>"margin:auto;width:300px;display:inline;padding-left:10px;"}
    //Cases
    -value =  @execution_running? @execution_running.case_template_id : 0
    =select("cases", "id" ,@circuit.case_templates.collect {|p| [ truncate( p.objective,  :ommision => "...",:length => 20), p.id ]}, {:include_blank => "Self", :selected=>value}, {:style => "width:110px;vertical-align:9px;"}  )
    //Play
    %img{:src => "/images/icons/play.png", 			:alt=>"play", 	 :title=>_('Run'), :onClick => "location='/suite_executions/create?case_template_id=' + document.getElementById('cases_id').value + '&where_did_i_come=circuits_edit&project_id=#{@project_id}&circuit_id=#{@circuit.id}'"}
    //Ejecution Result
    -if @execution_running
      %div{:id=>'status', :style=>"margin:auto;vertical-align:2px;display:inline;"}
        =render :partial => '/case_templates/status', :locals => {:case_template_id => @execution_running.case_template_id, :execution => @execution_running}
      //Status
      =periodically_call_remote(:url => {:controller => "case_templates", :action => "update_status", :circuit_id => @execution_running.circuit_id, :case_template => @execution_running.case_template_id}, :condition => "!ejecucion_completa_#{@execution_running.case_template_id}", :update => 'status', :frequency => 8)
  //Queue observer
  =render :partial => "queue_observers/queue_icon"
  %div{ :style=>"clear: both"}

  
  
//Save with comment
=render :partial => "save_with_comment"

//Import script
=render :partial => "import_script"

//Data recovery
#div_data_recoveries{:style=>"display:none;"}

//Functions
#div_with_functions{:style=>"display:none;"}

//Check data
#checker{:style=>"display:none;"}

//Suites of script
#suites_of_script{:style=>"display:none;"}

//Execution pannel
.div{:id=>"execution_panel",:style => "display:none; "}


  
//Help 
=render :partial => "info_script"