//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//


.main
  #TabView.TabView
    .Tabs
      .tab_view{:onclick=>"location='#{edit_project_circuit_path(@circuit.project_id,@circuit)}'", :style=> "opacity:10;padding-top:4px;position:relative;top:2px;"}
        =_('Edit Script')
      .tab_view{:onclick=>"location='#{project_circuit_case_templates_path(@project_id,@circuit)}'"}
        =_('Data Set')        
      %div{ :style=>"clear: both"}
  .edit_free_table{:id=>"div_edit_free"}
    %div{ :style=>"width:500px;float:left; margin-bottom:10px;"}
      =image_tag "icons/s-edit.png",:id=>"pencil_icon",:alt=>"s-edit.png",:style => "display:none;"
      %b
        =truncate(@circuit.name.capitalize, :ommision => "...", :length => 60)
      %br
      %i{:style=>"font-size:12px;"}
        =@version.message.capitalize  if  @version.message != ""
        -if @version_number
          =_("Version ")+"(#{@version_number})"
              
    %div{ :style=>"width:180px;float:right;margin-left:10px;text-align:right;",  :title=>@circuit.user.name}
      =_('By')
      =truncate(@circuit.user.name, :ommision => "...", :length => 20)
      //Last update:  Verified if another user has edited the function
      =text_field_tag 'last_updated_at', @circuit.updated_at.to_s, :id => "last_updated_at", :style=>"display:none;"
    //SCRIPT
    %textarea{ :id=>"scriptTextArea", :style=>"width:100%;"}
      =@circuit.source_code.gsub("\r\n","\r").gsub("\n\r","\r").gsub("\n","\r")


//Category Menu
-content_for :left_category_menu do  
  =render :partial => "layouts/left_category_menu"
  
//Tools menu
-content_for :tools_menu do
  = render :partial=> "menu_edit"
 
//JS
= render :partial=> "circuits/script_editor", :locals => { :id=>"scriptTextArea", :readonly=>@readonly }


