//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

.main
  %h1
    =_("Versions of ") + "#{@circuit.name}\n"
  =will_paginate @versions

  -if @versions.empty?
    %i
      =_('Without versions')
  -else
    %table.general{ :cellspacing=>"2", :name=>"table_zebra", :style=>"margin-top:10px;padding:15px;"}
      %th
        Nro
      %th
        User
      %th
        Date
      %th
        Changes
      %th
        Edit
      -i = 0
      -@versions.each do |version|
        - i = i + 1
        %tr
          %td{:style=>"width:10px;padding-left:15px;"}
            -i==1? color = "black" : color = "grey"
            %a{ :href => "/circuits/#{@circuit.id}/edit?version=#{version.number}", :style=>"color:#{color}" }
              =version.number
          -user = User.find(version.user_id).name
          %td{:title=>user}
            =truncate(user, :ommision => "...", :length => 30)
          %td{:style=>"width:15px"}
            -#Date
            -if version.created_at.to_s(:short).match(/0?#{Time.now.day.to_s}\/0?#{Time.now.month.to_s}\/#{Time.now.year.to_s}/)
              =h version.created_at.to_s(:short).split("-")[0]
            -else
              =h version.created_at.to_s(:short).split("-")[1]
          %td{ :style=>"text-align:left;width:600px;"}
            -if version.message != ""
              %b
                =version.message
              =link_to_function "Detalle" do |page|
                -page.visual_effect(:toggle_blind, "detalle" + version.number.to_s)
              %br
                %div{ :id => "detalle#{version.number}", :style => "display: none;" }
                  -if version.changes
                    -version.changes.each do |key,value|
                      ="#{key} cambiado de #{truncate(value.first,60).inspect} a #{truncate(value.last,60).inspect}"
                  -else
                    =_('Initial Version')
            -else
              -if version.changes
                -version.changes.each do |key,value|
                  ="#{key} cambiado de #{truncate(value.first,60).inspect} a #{truncate(value.last,60).inspect}"
              -else
                =_('Version inicial')
          %td{:style=>"width:5%;"}
            %a{ :href => "/circuits/#{@circuit.id}/edit?version=#{version.number}" }
              edit
