=render :partial=>'css'

%body
  %table.header
    %tr
      %td{ :rowspan=>"2", :style=>'width:300px;font-size:16px;text-align:center;font-weight: bold;'}
        =link_to "Cacique Report" , @url
      %td
        Script:
        %b
          =truncate(@execution.circuit.name, :ommision => '...', :length => 70)
    %tr
      %td
        Date:
        = @execution.updated_at.strftime("%d/%m/%y %H:%M")
  %table.general
    %tr
      %th{:style=>'width:5%;'}
        Id
      %th{:style=>'width:25%;'}
        Case
      %th{:style=>'width:5%;'}
        Result
      %th{:style=>'width:40%;'}
        Output
      -if @execution.status==3 and !@execution.position_error.nil?
        %th
          Position error
    %tr
      %td
        =@execution.case_template_id
      %td  
        - if @execution.case_template_id != 0
          =truncate(@execution.case_template.objective, :ommision => '...', :length => 70)
        - else
          Without Cases

      -color = (@execution.status == 2)? 'DarkGreen' : (@execution.status == 3 ? 'red' :'#336699')
      %td  
        = @execution.s_status
      %td
        -@execution.data_recoveries.each do |data_recovery|
          %dd{ :style => 'color:DarkGreen;'}
            = data_recovery.data_name
            \:
            = data_recovery.data
            %br
        %pre{ :style => 'color:red;' }
          = @execution.error
      -if @execution.status==3 and !@execution.position_error.nil?
        %td
          -CGI.escapeHTML(@execution.position_error.to_s).split("\n").each do |line|
            %pre{ :style => " color: #{line[0..0]=="*" ? "red":"000"};" }
              =line.gsub(/^\*/,"")   


