<div style="margin: 0pt auto; background: #293484 none repeat scroll 0% 0%; min-width: 500px; height: 40px; float: left; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; -moz-border-radius:10px; font-size: 40px; color: white;padding:10px; padding-left:20px">
          Cacique
</div>
<br><br><br><br>

<div style= " font: 15px normal sans-serif; padding-left:20px;color: #31576F;">
	  <b style="font-size: 20px; color:#293484; font-family:sans-serif; font-size:15px; font-weight:bold;">
		  Detalle de ejecución
	  </b>
	  
  Se corrio la siguiente suite:<br><br>
    <% if @suite_execution.status == 3 %>
      <div style="color: white; background: #F57275; padding:5px;padding-left:15px;-moz-border-radius-topright:20px;-moz-border-radius-topleft:20px;">
        <%= @suite_execution.suite.name %>
      </div>
      <div style=" padding:5px; border: 1px solid #F57275; -moz-border-radius-bottomright:20px;-moz-border-radius-bottomleft:20px;">
    <% else %>
      <div style="color: white; background: #84CC5B; padding:5px;padding-left:15px;-moz-border-radius-topright:20px;-moz-border-radius-topleft:20px;font-size:20px;">
        <%= @suite_execution.suite.name %>
      </div>
      <div style="padding:5px; padding-left:5px;border: 1px solid  #84CC5B; -moz-border-radius-bottomright:20px;-moz-border-radius-bottomleft:20px;">
    <% end %>   

    Corrida el día: <%= @suite_execution.updated_at.strftime("%d/%m/%y %H:%M") %><br>
    <br>
    <table style="margin:0px;margin-left:10px;margin-bottom:40px;text-align:justify;font-family:sans-serif;">
      <tr style="background:transparent url(/images/icons/tag_grey.png) repeat scroll 0 0;">
        <th style=" width:200px;font: 14px normal sans-serif;font-weight:bold;color: #31576F;">Circuito</th>
        <th style=" width:100px;font: 14px normal sans-serif;font-weight:bold;color: #31576F;">Caso</th>
        <th style=" width:100px;font: 14px normal sans-serif;font-weight:bold;color: #31576F;">Result.</th>
        <th style=" width:500px;font: 14px normal sans-serif;font-weight:bold;color: #31576F;padding-left:20px;">Salida</th>
      </tr>
      <% for execution in @suite_execution.executions_cache(@suite_execution.executions.map(&:id)) %>
        <tr>
          <td style="text-align:left;">
            <%= execution.circuit.name.capitalize  %></td>
          <td>
            <%= execution.case_template_id %></td>
          <td>
            <% if execution.status == 2 %>
              <div style="color:green; font-size:12px; font-weight:bold;"><%= execution.s_status %></div></td>
              <td style="padding-left:20px;">
                <% if execution.data_recoveries.empty? %>
    	          <dd style="color:green;font-style:italic; font-size:12px;">No se generaron datos  
                <% else %>
    	          <% execution.data_recoveries.each do |data_recovery| %>
    	            <dd style="color:green;"><%= data_recovery.data_name %>: <%= data_recovery.data %><br>
    	          <% end %>
      	        <% end %>
      	      </td>
            <% elsif execution.status == 3 %>
              <div style="color:red; font-size:12px; font-weight:bold;"> <%= execution.s_status %></div></td>
              <td>
                <div style="color:red; font-size:12px; font-weight:bold;"> <%= execution.error %></div></td>
            <% else %>
              <div style="color:blue; font-size:12px; font-weight:bold;"><%= execution.status %></div></td>
              <td></td>
            <% end %>
        </tr>
        <tr>
          <td colspan="4"></td>
        </tr>
      <% end %>
    </table>
    </div>
    <br><br><br>
</div>

