%li
  %a{ :href => "/notes", :title => _('Add/Remove Notes') }
    %span
      =_('General Notes')
%li
  %a{ :href => "/user_functions", :title => _("Add/Remove Functions") }
    %span
      = _("Functions")
%li
  %a{ :href => "/projects", :title => _("Projects Administration") }
    %span
      = _("Projects")
%li
  %a{ :href => "/users", :title => _("Users Administration") }
    %span
      = _("Users")
%li
  %a{ :href => "/graphs", :title => _("Summary") }
    %span
      = _("Summary")
%li
  %a{ :href => "/context_configurations", :title => _("Run Configuration") }
    %span
      = _("Run Configuration")

