//
// @Authors:    
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//      
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//

-form_for @context_configuration, :url => { :controller => "context_configurations",:action => 'create'} do |f|
  .form_tag{:style=>"width:350px;float:left;margin-right:20px;"}
    %label{:for => "view_type"}
      =_('View Type')
      \:
      =f.select :view_type, @view_types, {:include_blank => _("-Select-")}, {:onChange => "changeValuesView(this.selectedIndex);"}
    %div{ :style=>"clear: both"}
    %br
    %label{:for => "name", :style=>"float:left;"}
      =_('Name')
      %br
      =f.text_field :name, {:size => 28}


    %div{ :style=>"clear: both"}
    %br
    %label{:for => "values"}
      =_('Values')
      %br
      #change_values
        -if ['select','checkbox','radiobutton'].include?(@context_configuration.view_type) 
          #one_value{:style => "display:none;"}
            =f.text_field :values, {:size => 30}
          %table{:id => "multiple_values"}
            %tr
              %td
                -if @context_configuration.values
                  -i=1
                  -@context_configuration.values.split(";").each do |c_c_v|
                    =text_field "values","value#{i}", :value => c_c_v
                    -i+=1
                -else
                  =text_field 'values','value1'
              %td
                %input{:id => "add_option", :type => "button", :value => _("Add"), :onClick => "addOption();"}
        -else
          #one_value
            =f.text_field :values, {:size => 30}
          %table{:id => "multiple_values", :style => "display:none;"}
            %tr
              %td
                =text_field 'values','value1'
              %td
                %input{:id => "add_option", :type => "button", :value => _("Add"), :onClick => "addOption();"}
    -if ['select','checkbox','radiobutton'].include?(@context_configuration.view_type)
      -show_default='block'
    -else
      -show_default='none'
    #default_value.form_tag{ :style => "display:#{show_default};width:330px;margin-top:10px;"}
      %b
        = f.check_box  :field_default
        =_('Field default')
      =_('Selecting this option will be added as a column in the data set this configuration.')
      =_('It is used to that at the time of execution, you can choose to take the value of the panel of implementation or change to be taken from your own case.')

  =render :partial=> "config_info"
      
  .form_show_errors{ :style=>"margin-left:20px;float:left;"}
    = error_messages_for :context_configuration

  %div{ :style=>"clear: both"}
    %br

  %br
  %br

  = submit_tag _('Create'), { :style => "margin-right:10px;cursor:pointer;" }
  %input{:type=>"button", :value=>_("Cancel"), :onclick => "if(confirm('#{_('Exit Without Save?')}')){location='/context_configurations'};", :style=>"cursor:pointer;"}
