-case context_configuration.view_type
  -when 'checkbox'
    -default_actived = @user_configuration_values[context_configuration.name].include?("default")
    //check all 
    %input{ :type => "checkbox", :name => 'todos', :value => "checkbox", :onClick => "ch_select_all(this, '.options_of_#{context_configuration.name}');"}
    =_("All")
    -context_configuration.all_values.each do |value|
      %div{:title=>value}
        - value_actived = (!@user_configuration_values[context_configuration.name].nil? and @user_configuration_values[context_configuration.name].include?(value))
        -if value == "default"
          =check_box_tag "execution[#{context_configuration.name}][]", value, value_actived, {:onclick => "change_default(this, '#{context_configuration.name}');"}
        -else       
          =check_box_tag "execution[#{context_configuration.name}][]", value, value_actived, {:disabled => default_actived, :class=>"options_of_#{context_configuration.name}"}
        =truncate(value, :ommision => "...", :length => 18)
  -when 'radiobutton'
    -context_configuration.all_values.each do |value|
      %div{:title=>value}
        -if !@user_configuration_values[context_configuration.name].nil? and @user_configuration_values[context_configuration.name].include?(value)
          =radio_button_tag "execution[#{context_configuration.name}][]", value, true
        -else
          =radio_button_tag "execution[#{context_configuration.name}][]", value, false
        =truncate(value, :ommision => "...", :length => 18)
  -when 'select'
    = select "execution", context_configuration.name, context_configuration.all_values, {:selected => @user_configuration_values[context_configuration.name]}, :style=>"width:190px;"
  -when 'input'
    =text_field "execution", context_configuration.name, :value => context_configuration.values, :style=>"width:150px;"
  -when 'boolean'
    =check_box_tag "execution[#{context_configuration.name}][]", "1", @user_configuration_values[context_configuration.name]=="1"
    =context_configuration.name
