%script
  ejecucion_completa_#{execution.id}=true

//Stop
-if (execution and !execution.finished?)
  %script
    ejecucion_completa_#{execution.id}=false;
    $j("#play_#{execution.id}").hide();
    $j("#stop_#{execution.id}").show();
-else
  %script
    $j("#stop_#{execution.id}").hide();
    $j("#play_#{execution.id}").show();

-case execution.status
  -when 0
    =image_tag 'icons/waiting_1.png', :style=>'border:none;', :alt=>'waiting_1.png', :title=>execution.s_status

  -when 1 
    =link_to image_tag('/images/load/spinner.gif', :style=>'border:none;cursor:pointer;', :alt => 'spinner', :title=>execution.s_status), "/suite_executions/#{execution.suite_execution.id.to_s}"

  -when 2
    =image_tag 'icons/ok_1.png', :style=>'border:none;cursor:pointer;', :alt=>'ok_1.png', :title=>execution.s_status, :onclick=> "$j('#show_status_#{execution.id.to_s}').show();"
    .tag{ :id => "show_status_#{execution.id.to_s}", :style=>' display:none; left: 25%; top: 20%;width:50%;  max-height:90%; min-height:70%;  position:absolute; padding: 1%;'}
      =render :partial=>'executions/show_status', :locals=> {:execution=>execution}

  -when 3
    =image_tag 'icons/fail_1.png', :style=>'border:none;cursor:pointer;', :alt =>'fail_1.png', :title=>execution.s_status, :onclick=> "$j('#show_status_#{execution.id.to_s}').show();"
    .tag{ :id => "show_status_#{execution.id.to_s}", :style=>'display:none; left: 25%; top: 20%;width:50%; max-height:90%; min-height:70%;  position:absolute; padding: 1%;'}
      =render :partial=>'executions/show_status', :locals=> {:execution=>execution}

  -when 4
    =image_tag 'icons/not_execution.png', :style=>'border:none;', :alt => 'not_execution.png', :title=>execution.s_status

  -when 5
    =image_tag 'icons/fail_execution.png', :style=>'border:none;', :alt => 'fail_execution.png', :title=>execution.s_status

  -when 6
    =image_tag 'icons/cancel.png', :style=>'border:none;', :alt => 'cancel_execution.png',:title=>execution.s_status    

  -else
    =execution.s_status   


