.login
  .volver
    =link_to _('Back'), "/sessions/new"

  %h1{:style=>" margin-top:0px; "}
    =_("Change Password")
  .registration
    - form_for :user , :html=>{:style=>"margin:0 10%;width:auto;"} do |f|
      = error_messages_for :user
      %label{:for => "login"}
        =_("User:")
      = f.text_field :login, :value=>@user.login , :disabled=>"disabled", :size => 25
      %label{:for => "password"}
        =_("New Password:")
      = f.password_field :password, {:size=>25,:maxlength => 16}
      %label{ :for => "password_confirmation"}
        =_("Confirm Password:")
      = f.password_field :password_confirmation, {:size=>25,:maxlength => 16}
      %br
      %br
      .form_button{:style=>"margin:0;float:left;"}
        = submit_to_remote 'button', _('Change Password'), :url => { :action => "save_password", :id=>@user.id}, :update => { :success => "errors", :failure => "error" }, :loading => " new Effect.Appear('loading', { duration: 0.5} ); ",:complete => "new Effect.Fade('loading', { duration: 0.3 }); "
  %br
  %div{ :id=>"loading", :style=>"width: 300px; display:none;margin: 0 auto;"}
    %br
    %img{ :src => "/images/load/bar.gif", :alt => "bar", :style=>"margin-left:130px;"}
  %div{:id=>"errors", :style=>"width: 350px; text-align:center; font-size:14px;color:#293484;margin: 0 auto;"}



