//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
.login
  .volver
    =link_to _('Back'), "/sessions/new"

  %h1{:style=>" margin-top:0px; "}
    =_("Change Password")
  .registration
    - form_for :user , :html=>{:style=>"margin:0 10%;width:auto;"} do |f|
      = error_messages_for :user
      %label{:for => "login"}
        =_("User:")
      = f.text_field :login, :value=>@user.login , :disabled=>"disabled", :size => 25
      %label{:for => "password"}
        =_("New Password:")
      = f.password_field :password, {:size=>25,:maxlength => 16}
      %label{ :for => "password_confirmation"}
        =_("Confirm Password:")
      = f.password_field :password_confirmation, {:size=>25,:maxlength => 16}
      %br
      %br
      .form_button{:style=>"margin:0;float:left;"}
        = submit_to_remote 'button', _('Change Password'), :url => { :action => "save_password", :id=>@user.id}, :update => { :success => "errors", :failure => "error" }, :loading => " new Effect.Appear('loading', { duration: 0.5} ); ",:complete => "new Effect.Fade('loading', { duration: 0.3 }); "
  %br
  %div{ :id=>"loading", :style=>"width: 300px; display:none;margin: 0 auto;"}
    %br
    %img{ :src => "/images/load/bar.gif", :alt => "bar", :style=>"margin-left:130px;"}
  %div{:id=>"errors", :style=>"width: 350px; text-align:center; font-size:14px;color:#293484;margin: 0 auto;"}



