//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
.login{:style=>"margin:3% 23%;"}
  .volver
    =link_to _('Back'), "/sessions/new"
  %h1{:style=>"width:300px; margin-top:0px;"}
    =_("Fill with your personal data")
  .registration{:style=>"margin-top: 10px;margin-bottom:10px;"}
    = error_messages_for :user
    - form_for :user, :url => users_path, :html=>{:style=>"margin:0 30%;"} do |f|
      %label{:for => "login"} 
        =_("User")
      = f.text_field :login
      %label{:for => "name"}
        =_("Full Name")
      = f.text_field :name
      %label{:for => "email"}
        Email
      = f.text_field :email
      %label{:for => "password"} 
        =_("Password")
      = f.password_field :password
      %label{ :for => "password_confirmation"} 
        =_("Confirm Password")
      = f.password_field :password_confirmation
      %label{ :for => "language"}
        =_('Languange:')
      = select("user","language",[[_("English"),"en_US"],[_("Spanish"),"es"],[_("Portuguese"),"pt"]], {:selected =>:language})
      %p
      .form_button{:style=>"margin:0;"}
        = submit_tag _('Register')
      %br
    %div{ :style=>"clear: both"}




