%table.detail
  %thead
    -if !delayed_jobs.empty?
      /Paginate
      = will_paginate @delayed_jobs, :params => { 'filter' => params[:filter]}
      .pagination
        %span
        = _('Show') + ":"
        = page_size_link 50
        = page_size_link 100
        = page_size_link 150

  -form_for :delayed_jobs, :url => delayed_jobs_path,:html=>{:id=>"dj_actions",:style=>"margin-bottom:10px;"} do

    /Filter
    =render :partial=>"filter" 

    -if !delayed_jobs.empty?

      /Header
      %tr     
        %th.very_small
          =check_box_tag 'all', '0', checked = false,  { :id=>'check_all'}
        %th.small
          =_("Project")   
        %th.medium
          =_("Suite")                  
        %th.small
          =_("Programmed by")            
        %th.medium
          =_("Schedule")
        %th.medium
          =_('Identifier')
        %th.small
          =_("Status") 

      /Data                
      -delayed_jobs.each do |dj|
        -task_program = dj.task_program
        %tr  
          %td
            -enabled = !(current_user.has_role?("root") or task_program.user_id == current_user.id)
            =check_box_tag "id[]", dj.id, false, :disabled=>enabled, :id => "delayed_job_"+dj.id.to_s, :class=>"check_delayed_job"
          %td{:title=>task_program.project.name}
            =truncate( task_program.project.name, :ommision => '...', :length => 60)               
          %td
            -suites = task_program.suites
            %ul
              %li{:title=>suites.first.name}
                =truncate(suites.first.name, :ommision => '...', :length => 30)
                -if suites.count>1      
                  %sub.more{:name=>"more_#{task_program.id}"}
                    [...]           
            %ul{:id=>"more_#{task_program.id}", :class=>'hide'}
              -suites[1..suites.count].each do |suite|
                %li{:title=>suite.name}
                  =truncate(suite.name, :ommision => '...', :length => 35)

          %td{:title=>task_program.user.name}
            =truncate( task_program.user.name, :ommision => '...', :length => 20)                 
          %td
            %ul.inline
              %li.inline
                %b
                  ="#{dj.run_at.day}/#{dj.run_at.mon}/#{dj.run_at.year}"  
              %li.inline
                %b
                  ="#{dj.run_at.hour}:#{dj.run_at.min}"                      
              %li.inline
                =@weekly_trans[dj.run_at.strftime('%A')] 
          %td{:title=>task_program.identifier}
            =truncate( task_program.identifier, :ommision => "...", :length => 20)                           
          %td 
            =dj.s_status
      
    -else  
      %i
        %br
        %br  
        =_('Without Schedule')  


        
         
