%table.detail
  %thead
    -if !delayed_jobs.empty?
      /Paginate
      = will_paginate @delayed_jobs, :params => { 'filter' => params[:filter]}
      .pagination
        %span
        = _('Show') + ":"
        = page_size_link 50
        = page_size_link 100
        = page_size_link 150

  -form_for :delayed_jobs, :url => delayed_jobs_path,:html=>{:id=>"dj_actions",:style=>"margin-bottom:10px;"} do
    /Filter
    =render :partial=>"filter" 

    -if !delayed_jobs.empty?
      /Header
      %tr     
        %th.def{:style => "width:3%;"}
          =check_box_tag 'all', '0', checked = false,  { :id=>'check_all'}
        %th
          =_("Project")   
        %th{:style=>"width:32%"}
          =_("Suite")                  
        %th
          =_("Programmed by")            
        %th
          =_("Schedule")
        %th{:style=>"min-width: 12%; max-width:12%;"}
          =_('Identifier')
        %th
          =_("Status") 

      /Data                
      -delayed_jobs.each do |dj|
        -task_program = dj.task_program
        %tr  
          %td{:style=>"padding-left:8px;width:10px;"}
            //enabled
            -enabled = !(current_user.has_role?("root") or task_program.user_id == current_user.id)
            =check_box_tag "delayed_jobs_action[]", dj.id, false, :disabled=>enabled, :id => "delayed_job_"+dj.id.to_s, :class=>"delayed_jobs_action"
          %td{:title=>task_program.project.name,:style=>"width:100px;"}
            =truncate( task_program.project.name, :ommision => "...", :length => 60)               
          %td{:title=>task_program.suites.map(&:name)}
            =truncate(task_program.suites.map(&:name).join(', '), :ommision => "...", :length => 60)             
          %td{:title=>task_program.user.name,:style=>"width:100px;"}
            =truncate( task_program.user.name, :ommision => "...", :length => 20)                 
          %td
            %div{:style=>"width:80%; margin:0 auto;"}
              %b{:style=>"width:90px;float:left;"}
                ="#{dj.run_at.day}/#{dj.run_at.mon}/#{dj.run_at.year}"  
              %b{:style=>"width:50px;float:left;"}
                ="#{dj.run_at.hour}:#{dj.run_at.min}"                      
              %div{:style=>"float:left;width:100px;"}
                =@weekly_trans[dj.run_at.strftime('%A')] 
          %td{:title=>task_program.identifier}
            =truncate( task_program.identifier, :ommision => "...", :length => 20)                           
          %td 
            =dj.s_status

    -else  
      %i
        %br
        %br  
        =_('Without Schedule')    
