//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//
%div{:id=>"result",:style=>"margin-left: 20px; margin-top: 20px;color:red;"}
  = error_messages_for :project
%div{:style=>"margin:0 auto; width:70%;"}
  .div_abm{:style=>"color:#0B610B;"}
    %img{ :src => "/images/icons/add.gif",  :style=>"cursor:pointer;"}
    =_('Create Project')
    //-form_for :project, :update => "projects", :url => '/projects/new', :html=>{:style=>" border: 3px ridge #0B610B;" } do |f|
    -form_for(:project, :url => projects_path, :html => { :method => :post, :style =>" border: 3px ridge #0B610B;" }) do |f|
      %label{:for => "name"}
        =_('Name')
      = f.text_field :name
      %label{:for => "description"}
        =_('Description')
      = f.text_field :description
      %label
        =_('Manager')
      %select{:id => "project_user_id", :name=>"project[user_id]"}      
        -@users.each do |user|
          %option{ :value => user.id}
            =user.login
      %br
      %br
      =submit_tag _('Create'), :style=>"cursor:pointer;"
    
  .div_abm{:style=>"color:#FE9A2E;"}
    %img{ :src => "/images/icons/edit.png", :alt=>"edit", :style=>"cursor:pointer; width:20px;heidth:20px;"}
    =_('Edit Project')
    //- form_for :project, :update => "projects",:url => '/projects/edit', :html=>{:style=>"border: 3px ridge #FE9A2E;" }do |f|
    -form_for(:project, :url => project_path(:value), :html => { :method => :put, :style =>" border: 3px ridge #FE9A2E;" }) do |f|
      %label
        =_('Project')
      %select{:id=>"select_edit", :name=>"project_id"}
        -@projects.each do |project|
          %option{ :value =>  project.id}
            =project.name
      %label{:for => "name"}
        =_('Name')
      = f.text_field :name
      %label{:for => "description"}
        =_('Description')
      = f.text_field :description
      %label{:for => "user_id"}
        =_('Manager')
      %select{:name => "user_id", :id => "user_id"}
        -@users.each do |user|
          %option{ :value => user.id}
            =user.login
      %br
      %br
      =submit_tag _('Modify'), :style=>"cursor:pointer;"
           
  .div_abm{:style=>"color:#288EB1;"}
    %img{ :src => "/images/icons/relations.png", :alt=>"relations.png", :style=>"cursor:pointer; width:20px; height:20px;",:alt => "borrar.bmp"}
    =_('Assign to Project')
    //-form_for :project, :update => "projects", :url => { :controller => "projects", :action => 'assign'} , :html=>{:style=>" border: 3px ridge #288EB1;" } do
    -form_for(:project, :url => assign_projects_path(:value), :html => { :method => :put, :style =>" border: 3px ridge #288EB1;" }) do
      %label
        =_('User')
      %select{:name=>"user_id"}
        -@users.each do |user|
          %option{ :value => user.id}
            =user.login
      %label
        =_('Project')
      %select{:name=>"project_id"}
        -@projects.each do |project|
          %option{ :value =>  project.id}
            =project.name
      %br
      %br
      =submit_tag _("Assign"), :style=>"cursor:pointer;"
        
  .div_abm{:style=>"color:red;"}
    %img{ :src => "/images/icons/cross.png", :alt=>"cross.png", :style=>"cursor:pointer;"}
      =_('Deallocate to Project')
    //-form_for :project, :update => "projects", :url=>{:controller => "projects" ,:action => 'deallocate'},:html =>{:style=>" border: 3px ridge red;"}  do
    -form_for(:project, :url => deallocate_projects_path(:value), :html => { :method => :delete, :style =>" border: 3px ridge red;" }) do |f|
      %label
        =_('User')
      %select{:name=>"user_id"}
        -@users.each do |user|
          %option{ :value => user.id}
            =user.login
      %label
        =_('Project')
      %select{:name=>"project_id"}
        -@projects.each do |project|
          %option{ :value =>  project.id}
            =project.name
      %br
      %br
      =submit_tag _("Deallocate"), :confirm=>_("Sure to remove relations?"), :style=>"cursor:pointer;"

