%div{:id=>"div_to_refresh_#{circuit.id}"}
  -no_permission_alert = "alert('No tiene permisos para realizar esta accion')"
  -case_templates.each do |case_template|
    %tr{:id=>case_template.id.to_s, :onclick=>"marcar(this, '#CBE3BE');"}

      // CASE TEMPLATE INDEX
      -if @controller_data == 'case_templates'
        //Ejecutar
        %td{:style=>"padding-left:8px;width:10px;"}
          =check_box_tag "execution_run[]", case_template.id, false, :id => "case_"+circuit.id.to_s
        //Status
        %td
          -if case_template.last_execution
            %div{:id=>'status_' + case_template.last_execution.id.to_s, :style=>"margin:0 auto;width: -moz-fit-content;"}
              //stop
              //=link_to image_tag("/images/icons/stop.png", :alt=>"stop",:title=>_('Stop') , :id=>"stop_#{case_template.last_execution.id}", :style=>"display:none; margin-bottom:2px;"), suite_execution_path(case_template.last_execution.suite_execution_id), :method=>:delete
              =render :partial => 'executions/status', :locals => {:execution => case_template.last_execution}
      // SUITE COMMENT
      -if @controller_data == 'suite_executions'
        %td{:style=>"width:10px;"}
          %input{ :id => "case_"+circuit.id.to_s, :type => "checkbox", :checked=>"checked", :name => "cases[]", :value => case_template.id, :onClick=>"BrokenRelations($j(this),#{case_template.circuit_id},#{case_template.id});"}

      // SUITE EDIT
      -if @controller_data == 'suites'
        %td{:style=>"width:10px;"}
          //Si ya pertenece a la suite se chekea
          -if (@suite.case_template_ids.include?(case_template.id))
            %input{ :type => "checkbox", :checked=>true, :id => "case_"+circuit.id.to_s, :name => "case_templates[]", :value => case_template.id,:onClick=>"update_cases(this.checked,#{@suite.id},#{case_template.id});"}
          -else
            %input{ :type => "checkbox", :checked=>false, :id => "case_"+circuit.id.to_s, :name => "case_templates[]", :value => case_template.id,:onClick=>"update_cases(this.checked, #{@suite.id},#{case_template.id});"}


      //GENERAL
      //Case Template Columns
      -case_template_columns.each do |case_template_column|
        -case case_template_column
          - when 'id' 
            %td{ :title => case_template.send(case_template_column),  :id=>case_template_column, :style=>"width:40px;text-align:center;"}
              =truncate(case_template.send(case_template_column).to_s, :ommision => "..",:length => 8)             
          - when 'objective'
            %td{:name=>case_template.readonly ? "" : "edit_cell", :id=>case_template_column, :title => case_template.send(case_template_column), :style=>"width:300px;",:ondblclick => no_permission_alert}
              %div{ :style=>"width:300px;"}
                =truncate(case_template.send(case_template_column).to_s,  :ommision => "...",:length => 40)
          - when 'created_at'
            %td{ :id=>case_template_column,  :title => case_template.send(case_template_column)}
              =case_template.send(case_template_column).to_s(:short).split("-")[1]
          -when 'priority'
            %td{:name=>case_template.readonly ? "" : "edit_cell", :id=>case_template_column,  :title => case_template.send(case_template_column), :ondblclick => no_permission_alert}
              =case_template.send(case_template_column)

      //Case data
      -circuit_case_columns.each do |circuit_case_column|
        //if the column is field_default
        -if circuit_case_column.default?
          %td{:name=>case_template.readonly ? "" : "edit_cell_select", :id=>circuit_case_column.name, :title => case_template.get_case_data[circuit_case_column.name], :ondblclick => no_permission_alert}
            =truncate(case_template.get_case_data[circuit_case_column.name].to_s, :ommision => "..." ,:length => 20)
        -else
          %td{:name=>case_template.readonly ? "" : "edit_cell", :id=>circuit_case_column.name, :title => case_template.get_case_data[circuit_case_column.name], :ondblclick => no_permission_alert}
            .div{:style=>"width:150px;"}
              =truncate(case_template.get_case_data[circuit_case_column.name].to_s, :ommision => "..." ,:length => 20)




