%thead
  %tr
    // CASE TEMPLATE INDEX
    -if @controller_data == 'case_templates'
      %td.def{:style => "width:3%;"}
        %input{ :type => "checkbox", :name => 'todos', :id => 'todos_'+circuit.id.to_s, :value => "checkbox", :onClick => "listItems(#{circuit.id},this.form);"}
      %td.def{:style=>" width: 6%;"}

    // SUITE COMMENT
    -if @controller_data == 'suite_executions'
      %td.def{:style => "width:3%;"}
        %input{ :type => "checkbox", :name => 'todos', :id => 'todos_'+circuit.id.to_s, :value => "checkbox", :onClick => "listItems(#{circuit.id},this.form);AllBrokenRelations($j(this), #{circuit.case_templates.map(&:id).to_javascript_expr});"}

    // SUITE EDIT
    -if @controller_data == 'suites'
      %td.def{:style => "width:3%"}
        %input{ :type => "checkbox", :name => 'todos', :id => 'todos_'+circuit.id.to_s, :value => "checkbox", :onClick => "update_cases_all(#{@suite.id},#{circuit.id},this);listItems(#{circuit.id},this.form);"}

    //GENERAL
    -case_template_columns.each do |case_template_column|
      %td.def{ :class => "sortable"}
        =h case_template_column
    -circuit_case_columns.each do |circuit_case_column|
      //If the columns if default
      -if circuit_case_column.default?
        %td.def{ :class => "sortable"}
          =truncate(h(circuit_case_column.name), :ommision => "...", :length => 20)
      -else
        %td{ :class => "sortable"}
          =truncate(h(circuit_case_column.name), :ommision => "...", :length => 20)


