-javascript 'tablesort'
-javascript 'case_template'
-javascript 'tabla_editable'
-javascript 'select_all'
-javascript 'checked_default'
-javascript 'checkbox_lib'

%script
  jQuery(window).bind("load", function(){
  iniciarTabla();  //Edit Table cells
  $j('#div_edit_free').height($j(window).height() -200);
  })
  = @cell_selects.to_javascript_function("cell_selects")  #Selects values for edit data cells

.main
  =link_to _('Edit Script'), edit_project_circuit_path(@circuit.project_id,@circuit), :class=>'tab_view' 
  =link_to _('Data Set'), project_circuit_case_templates_path(@project_id,@circuit) , :class=>'tab_view selected' 
  
  .tab_container#div_edit_free{:style=>"overflow:auto;width:98%;"}  
    %div{ :style=>"width:500px;float:left; margin-bottom:10px;"}
      %div{ :id => "modified_file", :style => "width:20px;float:left;"}
      %b
        =truncate(@circuit.name.capitalize, :ommision => "...", :length => 60)
    .pagination_links
      .pagination
        %span
        = _('Show') + ":"
        = page_size_link 10
        = page_size_link 20
        = page_size_link 50
      = will_paginate @cases_pag, :params => params.merge({:circuit_id => @circuit.id})
    //Errors 
    = error_messages_for :circuit
    %div{ :style=>"clear: both"}

    //Data Set
    - form_for :execution, :html => {:id => 'run_circuits', :method=>:get} do
      #cases_table
        =text_field_tag "source_uri", request.request_uri, :style => "display:none;"
        =text_field_tag "where_did_i_come", "case_templates_index", :style => "display:none;"
        =render :partial => 'data_set', :locals=>{ :circuit=> @circuit, :circuit_case_columns =>@circuit_case_columns, :case_template_columns=>@case_template_columns, :case_templates=> @case_templates}
    %div{ :style=>"clear: both"}


//Status Refresh  
-@case_templates.each do |case_template|
  -if case_template.last_execution
    =periodically_call_remote(:url => {:controller => :case_templates, :action => "update_status", :project_id => @circuit.project_id, :circuit_id => @circuit.id, :case_template => case_template.id}, :method=>:get, :condition => "!ejecucion_completa_#{case_template.last_execution.id}", :update => 'status_' + case_template.last_execution.id.to_s, :frequency => 8)

//Category Menu
-content_for :left_category_menu do  
  =render :partial => "layouts/left_category_menu"
  
//Tools menu
-content_for :tools_menu do
  =render :partial=>"menu_case_template"


