-value =  params[:filter] && params[:filter][:context_configurations] && params[:filter][:context_configurations][context_configuration.id.to_s] ? params[:filter][:context_configurations][context_configuration.id.to_s] : []
-case context_configuration.view_type
  -when 'checkbox'
    -context_configuration.all_values.each do |checkbox_value|
      %div{:title=>value}    
        =check_box_tag "filter[context_configurations][#{context_configuration.id}][]", checkbox_value, value.include?(checkbox_value), :class=>"context_configurations_#{context_configuration.id.to_s}_class"
        =truncate(checkbox_value, :ommision => "...", :length => 25)
  -when 'select', 'radiobutton'
    = select("filter", "context_configurations[#{context_configuration.id}]", context_configuration.all_values.collect {|cc| [truncate(cc.capitalize, :ommision => '...', :length => 30), cc ] }.sort!,{:selected=>value, :include_blank => _('All')}, {:style=>"width:150px;", :class=>"context_configurations_#{context_configuration.id.to_s}_class"})
  -when 'input'
    =text_field "filter[context_configurations]", context_configuration.id, :value => value, :style=>"width:150px;",:class=>"context_configurations_#{context_configuration.id.to_s}_class"
  -when 'boolean'
    =radio_button_tag "filter[context_configurations][#{context_configuration.id}]", "1", (value=="1" or value.empty?), :class=>"context_configurations_#{context_configuration.id.to_s}_class"
    =_('Yes')
    =radio_button_tag "filter[context_configurations][#{context_configuration.id}]", "", value=="", :class=>"context_configurations_#{context_configuration.id.to_s}_class"
    =_('No')

-if value == []
  %script
    $j('.context_configurations_#{context_configuration.id.to_s}_class').attr('disabled',true);


