//
//  @Authors:
//      Brizuela Lucia                  lula.brizuela@gmail.com
//      Guerra Brenda                   brenda.guerra.7@gmail.com
//      Crosa Fernando                  fernandocrosa@hotmail.com
//      Branciforte Horacio             horaciob@gmail.com
//      Luna Juan                       juancluna@gmail.com
//
//  @copyright (C) 2010 MercadoLibre S.R.L
//
//
//  @license        GNU/GPL, see license.txt
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU General Public License for more details.
//
//  You should have received a copy of the GNU General Public License
//  along with this program.  If not, see http://www.gnu.org/licenses/.
//


//Script Name
%td.exe{:title=>execution.circuit.name, :style=>"text-align:center;max-width:80%;min-width:30%;border-left: 1px solid #BFBFFF;"}
  =link_to truncate(execution.circuit.name,:ommision => "...", :length => 50), edit_project_circuit_path(execution.circuit.project_id,execution.circuit_id)
//Case template id
%td.exe{:style=>"max-width:25%;min-width:25%;"}
  =execution.case_template_id == 0 ?  _("Without Cases") : link_to( truncate(execution.case_template.objective,:ommision => "...", :length => 40), project_circuit_case_templates_path(execution.circuit.project_id,execution.circuit_id), {:title=>execution.case_template.objective} )

//Actions
%td.exe{:style=>"border-right: 1px solid #BFBFFF;width:2%;"}
  =link_to image_tag("/images/icons/play.png", :alt=>"Run", :title=>_('Run'), :id=>"play_#{execution.id}", :style=>"width: 12px; height: 14px;"), "/executions/retry_run/#{execution.id}"
  //=link_to image_tag("/images/icons/stop.png", :alt=>"stop",:title=>_('Stop'), :id=>"stop_#{execution.id}"), suite_execution_path(execution.suite_execution_id), :method=>:delete

//Status
%td.exe{:style=>"width:2%;"}
  =render :partial=>'executions/status', :locals=> {:execution=>execution}

//Output & snaphot
%td.exe{:title=>execution.output,:style=>"width:2%;max-height:425px;"}
  -if (!execution.output.nil? and !execution.output.empty?) || (!execution.execution_snapshots.empty? && !execution.execution_snapshots.nil?)
    =image_tag'/images/icons/output.png',:style=>'border:none;cursor:pointer;', :alt=>'output', :title=>_("Output"), :onclick=> "$j('#output_#{execution.id.to_s}').show();"
    .tag{ :id => "output_#{execution.id.to_s}",:style=>" display:none; left: 320px; top: 150px;width:600px; height:390px;"}
      =render :partial=>'executions/output', :locals=> {:execution=>execution}
  -else
    \---

//Time spend
%td.exe{:title=>execution.time_spent,:style=>"width:2%;"}
  -if !execution.time_spent.nil?
    =truncate(execution.time_spent.to_s + ".s", :ommision => "...", :length => 10)
  -else
    %i
      \---



    
