%ul.rates
  %li.ok{:title=>"#{@rates[:ok][1]}% #{_('Success')}"}
    =truncate("#{@rates[:ok][0]}", :ommision => "...", :length => 10) 
    =_('Success')
  %li.fail{:title=>"#{@rates[:error][1]}%  #{_('Errors')}"}
    =truncate("#{@rates[:error][0]} ", :ommision => "...", :length => 10)
    =_('Errors')
  %li.others{:title=>"#{@rates[:others][1]}% #{_('Others')}"}
    =truncate("#{@rates[:others][0]} ", :ommision => "...", :length => 10)  
    =_('Others')
  %li{:title=>"100% #{_('Total')}"}
    =truncate("#{@total_rate.to_s}", :ommision => "...", :length => 10)  
    =_('Total')


