%table.detail{:name=>"table_zebra", :id => "run_configuration_table_#{suite_execution.id}", :CELLSPACING=>0, :style=>"clear:both; margin:0px;width: 250px;float:right;border:1px solid #BFBFFF; border-bottom:0px;"}
  %tr
    %th.exe{:colspan=>"2",:style=>"width:250px;text-align:center;"}
      =_('Run Configuration')
    -exec_conf_values.each do |conf|
      %tr
        %td{:title=>conf.context_configuration.name,:style=>"text-align:center;width:470px;border-left: 1px solid #BFBFFF;"}
          =truncate(conf.context_configuration.name.capitalize, :ommision => "...", :length =>15)
        %td{:title=>conf.value, :style=>"text-align:center;width:470px;border-right: 1px solid #BFBFFF;"}
          -if conf.context_configuration.view_type == 'boolean'
            = conf.value == '1'? image_tag("icons/check.png", :alt=>"check", :title=> "True"):image_tag("icons/cross.png", :alt=>"cross", :title=> "False")
          -else
            -if ( FileTest.exists?(RAILS_ROOT + "/public/images/specific/#{conf.value}.png") )
              =image_tag("specific/#{conf.value}.png", :alt=>"#{conf.value}.png", :title=> conf.value, :style=>"max-width:50px; max-height:25px;")
            -else
              =truncate(conf.value, :ommision => "...", :length =>15)
    -if exec_conf_values.empty?
      %tr
        %td{:colspan=>"2"}
          %i
            Without configuration
