%script
  ejecucion_completa_#{suite_execution.id}=true
  
-#Stop
-if suite_execution and !suite_execution.finished?
  =link_to(image_tag("/images/icons/stop.png", :alt=>"stop",:title=>_('Stop') ), suite_execution_path(suite_execution), :method=>:delete) if current_user.has_role?("root")
  %script
    ejecucion_completa_#{suite_execution.id}=false;
    $j('#play').hide();
-else
  %script
    $j('#play').show();

-case suite_execution.status
  -when 0
    =link_to image_tag('icons/waiting_1.png', :alt=>'waiting', :title=>suite_execution.s_status, :width=>18, :heith=>18), "/suite_executions/#{suite_execution.id.to_s}"

  -when 1
    =link_to image_tag('load/spinner.gif', :alt => 'spinner', :title=>suite_execution.s_status, :width=>16, :heith=>16), "/suite_executions/#{suite_execution.id.to_s}"

  -when 2
    =link_to image_tag('icons/ok_1.png', :alt => 'ok', :title=>suite_execution.s_status, :width=>18, :heith=>18), "/suite_executions/#{suite_execution.id.to_s}"

  -when 3
    =link_to image_tag('icons/fail_1.png', :alt => 'fail', :title=>suite_execution.s_status, :width=>18, :heith=>18), "/suite_executions/#{suite_execution.id.to_s}"

  -when 5
    =link_to image_tag('icons/fail_execution.png', :alt => 'fail', :title=>suite_execution.s_status, :width=>18, :heith=>18), "/suite_executions/#{suite_execution.id.to_s}"

  -when 6
    =link_to image_tag('icons/cancel.png', :alt => 'cancel', :title=>suite_execution.s_status, :width=>18, :heith=>18), "/suite_executions/#{suite_execution.id.to_s}"    

