-#Rates
-if !@suite_executions.empty?
  =render :partial => "rates"

%h1.top
  =@kind
  -class_name = [1,2].include?(params[:kind].to_i)? 'orange' :''
%h2{:class=> 'inline ' + class_name}
  =truncate(@project.name.capitalize,:ommision => "...", :length =>90)

-#Paginate
-if  !@suite_executions.empty?
  = will_paginate @suite_executions, :params => params.merge({:kind=>params[:kind]})
  .pagination
    = _('Show') + ":"
    = page_size_link 50
    = page_size_link 100
    = page_size_link 150    
        
-#Filter
=render :partial => "filter_index" 

-#Table
=render :partial => "history_table", :locals => {:suite_executions => @suite_executions, :filter => params[:filter]}

-#Menu
=render :partial=> 'menu'

-#Help 
=render :partial => "info"

-#JS
= calendar_date_select_includes "blue"
-javascript 'history'
-javascript 'checkbox_lib'  
-javascript 'tabla_suiteExe_editable'
-javascript 'tablesort'
%script
  -#check_all
  $j('#check_all').click(function(){ch_select_all(this, '.check_suite_execution');}); 

  -#Tabla editable
  jQuery(window).bind("load", function(){
  iniciarTabla();
  })
  -#marked file
  var marcado  = ""; 
  var anterior = "";
  var color_anterior = "";

  /PDF
  $j('#pdf_icon').click(function(){EnviarFormulario();}); 

  /Info
  $j('#info_icon').click(function(){$j('#infoSuiteExecution').toggle();}); 
