%script
 
  var msgjs1="#{_("Successfully Modified File")}"
  var msgjs2="#{_('The script is outdated. Another person edit the same script as you were editing.')}"
  var msgjs2a="#{_(' Steps:')}"
  var msgjs2b="#{_('1- Copy your changes to some temporary location.')}"
  var msgjs2c="#{_('2- Update the script doing refresh (Ctrl+F5).')}"
  var msgjs2d="#{_('3- Paste your changes.')}"
  var msgjs3="#{_('Details: ')}"
  var msgjs4="#{_('Failure of network connection, the script is not saved')}"
  var msgjs5="#{_('Unknown error, the script was not saved: ')}"
  var msgjs6="#{_('You must enter all values')}"
  var msgjs7="#{_('Retrieved data ')}"
  var msgjs8="#{_('exist')}"
  var msgjs9="#{_('You do not have Edit Permissions for this script')}"
  var msgjs10="#{_('Are you sure to delete this data recovered? This delete all relationships in the suite which is involved')}"
  var msgjs11="#{_('The current script does not retrieve data')}"
  var msgjs12="#{_('You can add')}"
  var msgjs13="#{_('You Must Select ')}"
  var msgjs14="#{_('You must select at least one case')}"
  var msgjs15="#{_('Along with the cases, eliminate your run history. If the case is in a suite will also be removed. Are you sure to remove the case')}"
  var msgjs16="#{_('You must complete the name')}"
  var msgjs19="#{_('Sure to remove the column: ')}"
  var msgjs20="#{_('Sure to change the column: ')}"
  var msgjs21="#{_('With it removed the relations that exist in suites.')}"
  var msgjs22="#{_('Name field is required')}"
  var msgjs23="#{_('Description field is required')}"
  var msgjs24="#{_('You must complete the fields')}"
  var msgjs25="#{_('No Script Selected')}"
  var msgjs26="#{_('No Suite Selected')}"
  var msgjs27="#{_('Must Select any Suite')}"
  var msgjs28="#{_('Must Select Destination Folder')}"
  var msgjs29="#{_('Selected scripts will be moved to the Folder ')}"
  var msgjs30="#{_('There are no related fields')}"
  var msgjs31="#{_('All Script Relations will be eliminated, along with their associated cases')}"
  var msgjs32="#{_('There is no Relations between Cases')}"
  var msgjs33="#{_('Must select an option from each column')}"
  var msgjs34="#{_('This Relations Exists')}"
  var msgjs35="#{_('Complete All Configuration')}"
  var msgjs36="#{_('Name')}"
  var msgjs37="#{_('Column Name must begin with lowercase')}"
  var msgjs38="#{_('You must select at least one execution')}"
  var msgjs39="#{_(' for ')}"
  var msgjs40="#{_('Execution No. ')}"
